.container{
display: flex;
justify-content: space-between;
}

.basket{
width: 600px;
height: 400px;
}

.baskets{
display: flex;
}

.element{
background: red;
width: 100px;
height: 100px;
border-radius: 15px;
margin: 10px 10px;
}

.green{
background: green;
}

.lightred{
background: #a73535;
}

.lightgreen{
background: lightgreen;
}
